/*Google Font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary: #4f6f52;
  --secondary: #ece3ce;

  --primary-dark: #334332;
  --secondary-dark: #292929;
}

.all-wrapper,
html,
body,
section {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  max-width: 100vw;
  color: var(--primary);
  background-color: var(--secondary);
}

.text-secondary {
  color: #4f6f52 !important;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.btn:active {
  transform: scale(0.9);
  transition: all 0.2s;
}

* {
  transition: background-color 0.7s, background-image 0.7s, background 0.7s,
    color 0.4s, border 0.7s;
}

.dark .all-wrapper,
.dark html,
.dark body,
.dark section {
  color: var(--primary-dark);
  background-color: var(--secondary-dark);
}

.dark,
.dark #navbar {
  background-color: var(--primary-dark);
  color: var(--secondary);
}

.dark,
.dark i {
  color: var(--secondary);
}

.dark #navbar .menu_btn > span,
.dark #navbar .menu_btn > span::before,
.dark #navbar .menu_btn > span::after {
  background-color: var(--secondary);
}

.dark #navbar .active {
  color: var(--secondary);
  font-weight: 800;
}

.dark #navbar ul li a:hover {
  color: var(--secondary);
}

.dark .magic-line-menu a,
.dark .magic-line {
  background-color: var(--secondary);
}

.dark a {
  color: var(--secondary);
}

.dark p {
  color: var(--secondary);
}

.dark #footer {
  background-color: #282e36 !important;
  color: #e9ecf0;
}

.dark #footer h6 {
  color: #fff;
}

.light .all-wrapper,
.light html,
.light body,
.light section {
  color: var(--primary);
  background-color: var(--secondary);
}

.light,
.light #navbar {
  background-color: rgba(255, 255, 255);
}

.light,
.light * i {
  color: #333a45;
}

.light #navbar .menu_btn > span,
.light #navbar .menu_btn > span::before,
.light #navbar .menu_btn > span::after {
  background-color: #333a45;
}

.light a {
  color: var(--primary);
}

.light p {
  color: var(--primary);
}

.light #footer {
  background-color: #e4e4e4 !important;
  color: #000 !important;
}

.light .magic-line-menu a,
.light .magic-line {
  background-color: var(--primary);
}

/*navbar style*/
#navbar {
  font-family: "Poppins", sans-serif;
  z-index: 500;
}

#navbar .nav-navbar {
  height: 10vh;
}

#navbar a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  z-index: 300;
}

#navbar a p {
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 84%;
  /* 16.8px */
  z-index: 300;
}

#navbar ul li {
  margin-right: 25px;
}

#navbar ul li a {
  display: inline-block;
  margin-right: 10px;
  transition: all 0.3s;
}

#navbar ul li a:hover {
  color: #4f6f52;
}

#navbar .active {
  color: #4f6f52;
  font-weight: 800;
}

#navbar .darkmode-toggle i {
  transition: all 0.2s;
  z-index: 400;
}

#navbar .darkmode-toggle .ph-sun-bold {
  opacity: 0;
}

#navbar #menu_toggle {
  opacity: 0;
}

#navbar #menu_toggle:checked + .menu_btn > span {
  transform: rotate(45deg);
}

#navbar #menu_toggle:checked + .menu_btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#navbar #menu_toggle:checked + .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#navbar #menu_toggle:checked ~ .menu_box {
  left: 0 !important;
}

#navbar .menu {
  width: 30px;
  height: 30px;
  display: none !important;
}

#navbar .menu_btn {
  position: absolute;
  top: 13px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

#navbar .menu_btn > span,
#navbar .menu_btn > span::before,
#navbar .menu_btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  transition-duration: 0.5s;
}

#navbar .menu_btn > span::before {
  content: "";
  top: -7px;
}

#navbar .menu_btn > span::after {
  content: "";
  top: 7px;
}

::placeholder {
  color: #69696b !important;
}

:-ms-input-placeholder {
  color: #69696b !important;
}

::-ms-input-placeholder {
  color: #69696b !important;
}

/* Magicline */
.magic-line-menu,
.magic-line-inner,
.magic-line-inner ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.magic-line-inner ul {
  list-style: none;
}

.magic-line-menu a {
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  padding: 10px 20px;
  display: block;
}

.magic-line {
  border-radius: 4px;
}

.init-magic-line,
.magic-line-inner {
  position: relative;
}

.magic-line {
  z-index: 100;
  position: absolute;
}

.magic-line-css-transition {
  transition: all 0.2s ease-in-out;
}

#hero {
  width: 100dvw;
  height: auto;
  background-image: url("/assets/img/beranda.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#hero .gradient,
#hero .test {
  height: 50vh;
}

#hero .gradient {
  position: relative;
  z-index: 3;
  opacity: 1;
  transition: opacity 0.7s;
  background: linear-gradient(
    180deg,
    rgba(236, 227, 206, 0) 0%,
    #ece3ce 83.96%
  );
}

#hero .gradient::before {
  position: absolute;
  z-index: 1;
  content: "";
  inset: 0;
  opacity: 0;
  transition: opacity 0.7s;
  background: linear-gradient(180deg, rgba(41, 41, 41, 0) 0%, #292929 83.96%);
}
.dark #hero .gradient::before {
  opacity: 1;
}

#hero .hook-1 {
  width: 100vw;
}

#hero .hook-1 .kasepuhan-title,
#hero .hook-1 .kasepuhan-title-dark {
  width: clamp(20rem, 70vw, 100rem);
  position: absolute;
  z-index: 2;
  margin-top: 15vh;
  opacity: 1;
  transition: opacity 0.7s;
}

.dark #hero .hook-1 .kasepuhan-title {
  opacity: 0;
}

#hero .hook-1 .kasepuhan-title-dark {
  opacity: 0;
}

.dark #hero .hook-1 .kasepuhan-title-dark {
  opacity: 1;
}

.title-abstract {
  width: clamp(18rem, 25vw, 100rem);
  margin-top: 5vh;
  visibility: hidden;
  transition: opacity 0.7s;
}

.title,
.title-dark {
  width: clamp(18rem, 25vw, 100rem);
  margin-top: 5vh;
  transition: opacity 0.7s;
  position: absolute;
}

.title-dark {
  opacity: 0;
}

.dark .title {
  opacity: 0;
}

.dark .title-dark {
  opacity: 1;
}

/* sejarah  */

#sejarah {
  /* height: 100vh; */
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}

.light #sejarah {
  background-image: url("/assets/img/vector.svg");
}

.dark #sejarah {
  background-image: url("/assets/img/vector-dark.svg");
}

#sejarah .content {
  z-index: 1;
  height: 100%;
  position: relative;
  margin: 0 27dvw 0 27dvw;
}

#sejarah ul.timeline {
  list-style-type: none;
  position: relative;
}

#sejarah ul.timeline:before {
  content: " ";
  display: inline-block;
  position: absolute;
  left: 27.5px;
  width: 5px;
  height: 100%;
  z-index: 400;
}

#sejarah ul.timeline > li {
  padding-left: 2vw;
}

#sejarah ul.timeline > li.sub-2 {
  margin-top: 20px;
}

#sejarah ul.timeline > li:before {
  content: " ";
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  transform: translateY(1.2dvw);
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.light #sejarah ul.timeline:before,
.light #sejarah ul.timeline > li:before {
  background: var(--primary);
}

.dark #sejarah ul.timeline:before,
.dark #sejarah ul.timeline > li:before {
  background: var(--secondary);
}

#sejarah .text-wrapper {
  border-radius: 15px;
}

.light #sejarah .text-wrapper {
  background-color: #fff;
}

.dark #sejarah .text-wrapper {
  background-color: var(--primary-dark);
}

#sejarah .desc p {
  font-size: clamp(1rem, 0.9dvw, 100rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dark #sejarah .desc p {
  font-size: clamp(1rem, 0.9dvw, 100rem);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#sejarah .desc p span {
  font-size: clamp(1rem, 0.9dvw, 100rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* arsitektur */
#arsitektur {
  min-height: 100vh;
  padding-top: 10vh;
}

#arsitektur .content {
  height: 100%;
  z-index: 1;
  position: relative;
  margin: 0 20dvw 0 20dvw;
}

#arsitektur .sub-1 .text-wrapper-inside {
  border-radius: 0px 0px 0px 120px;
  padding: 1rem 12dvw 1rem 1rem;
  margin-right: -12dvw;
  align-items: center;
}

#arsitektur .sub-1 .rounded-circle {
  border: 12px solid #4f6f52;
  margin-left: -5.5dvw;
}

#arsitektur .sub-1 .rounded-circle img {
  border-radius: 100%;
  width: 15dvw;
  aspect-ratio: 1/1;
}

#arsitektur .sub-1 .desc p {
  text-align: right;
  font-size: clamp(1rem, 1.2dvw, 100rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.dark #arsitektur .sub-1 .desc p {
  font-size: clamp(1rem, 1.2dvw, 100rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#arsitektur .sub-1 .desc p span {
  text-align: right;
  font-size: clamp(1rem, 1.2dvw, 100rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#arsitektur .sub-2 .text-wrapper-inside {
  border-radius: 0px 0px 120px 0px;
  padding: 1rem 1rem 1rem 12dvw;
  margin-left: -12dvw;
  align-items: center;
}

.light #arsitektur .sub-1 .text-wrapper-inside,
.light #arsitektur .sub-2 .text-wrapper-inside {
  background-color: #fff;
}

.dark #arsitektur .sub-1 .text-wrapper-inside,
.dark #arsitektur .sub-2 .text-wrapper-inside {
  background-color: var(--primary-dark);
}

#arsitektur .sub-2 .rounded-circle {
  margin-right: -5.5dvw;
}

.light #arsitektur .sub-2 .rounded-circle,
.light #arsitektur .sub-1 .rounded-circle {
  border: 12px solid var(--primary);
}

.dark #arsitektur .sub-2 .rounded-circle,
.dark #arsitektur .sub-1 .rounded-circle {
  border: 12px solid var(--secondary);
}

#arsitektur .sub-2 .rounded-circle img {
  border-radius: 100%;
  width: 15dvw;
  aspect-ratio: 1/1;
}

#arsitektur .sub-2 .desc p {
  font-size: clamp(1rem, 1.2dvw, 100rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.dark #arsitektur .sub-2 .desc p {
  font-size: clamp(1rem, 1.2dvw, 100rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#arsitektur .sub-2 .desc p span {
  font-size: clamp(1rem, 1.2dvw, 100rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#silsilah {
  overflow: hidden;
}

#silsilah .silsilah-main {
  transition: max-height 0.7s ease;
  max-height: 90vh;
  overflow: hidden;
  display: grid;
  justify-content: center;
}

#silsilah .no-overflow {
  height: auto;
  max-height: 800vh;
}

#silsilah .silsilah-main .silsilah-object {
  width: clamp(10rem, 100%, 45rem);
  object-position: center;
  object-fit: fill;
  margin: auto;
  overflow: hidden;
  justify-content: center;
  opacity: 1;
  position: relative;
  z-index: 1;
  transition: opacity 0.7s;
}

.dark #silsilah .silsilah-main .silsilah-object {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  inset: 0 1000vh;
  z-index: 2;
}
#silsilah .silsilah-main .silsilah-object-dark {
  width: clamp(10rem, 100%, 45rem);
  object-position: center;
  object-fit: fill;
  margin: auto;
  justify-content: center;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  inset: 0 1000vh;
  z-index: 2;
  transition: opacity 0.7s;
}

.dark #silsilah .silsilah-main .silsilah-object-dark {
  opacity: 1;
  overflow: visible;
  position: relative;
  inset: 0;
  z-index: 3;
}

#silsilah .read-more {
  margin-top: -10rem;
  height: 20vh;
  position: relative;
  z-index: 3;
  transition: background 0.7s;
  -webkit-transition: background 0.7s;
  background: linear-gradient(180deg, rgba(236, 227, 206, 0) 0%, #ece3ce 65%);
}

.dark #silsilah .read-more {
  margin-top: -10rem;
  height: 20vh;
  position: relative;
  z-index: 4;
  transition: background 0.7s;
  -webkit-transition: background 0.7s;
  background: linear-gradient(180deg, rgba(236, 227, 206, 0) 0%, #292929 65%);
}

#silsilah .read-more .btn {
  opacity: 1;
  position: absolute;
  z-index: 2;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 25px -8px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 0px 0px 25px -8px rgba(0, 0, 0, 0.77);
}

.dark #silsilah .read-more .btn {
  opacity: 1;
  position: absolute;
  z-index: 2;
  color: var(--secondary);
  background-color: var(--primary-dark);
  border-radius: 30px;
  box-shadow: 0px 0px 25px -8px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 0px 0px 25px -8px rgba(0, 0, 0, 0.77);
}

#galeri::before {
  content: " ";
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.05;
  background-image: url("/assets/img/mega-mendung.png");
  background-repeat: repeat;
}

.dark #galeri::before {
  opacity: 0.01;
  background-image: url("/assets/img/mega-mendung-dark.png");
  background-repeat: repeat;
}

#galeri .list-galery img {
  border-radius: 10px;
  z-index: 1;
}

#galeri .list-galery .overlay {
  border-radius: 10px;
  background-color: rgba(50, 67, 50, 0.7);
  padding: 20px;
  z-index: 2;
  height: 100%;
  transition: all 0.7s;
  bottom: 0;
  transform: translateY(400px);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark #galeri .list-galery .overlay {
  border-radius: 10px;
  background-color: rgba(237, 228, 207, 0.7);
  padding: 20px;
  z-index: 2;
  height: 100%;
  transition: all 0.7s;
  bottom: 0;
  transform: translateY(400px);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#galeri .list-galery .overlay-container:hover > .overlay {
  transform: translateY(0);
}

#galeri .list-galery h2 {
  color: white;
  text-align: center;
  text-transform: capitalize;
  font-size: clamp(2.5rem, 1dvw, 50rem);
  font-style: normal;
  font-weight: 500;
  line-height: 3rem;
  margin-bottom: 0;
}

#galeri .list-galery h2 span {
  color: white;
  text-align: center;
  text-transform: capitalize;
  font-size: clamp(2.5rem, 1dvw, 50rem);
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: 0;
}

.dark #galeri .list-galery h2 {
  color: var(--primary-dark);
}

.dark #galeri .list-galery h2 span {
  color: var(--primary-dark);
}

footer {
  height: 7vh;
  background-color: var(--primary-dark);
}

footer p {
  color: var(--secondary) !important;
  margin: 0;
}

@media (max-width: 998px) {
  .dark #navbar .nav-menu .nav {
    background-color: rgba(51, 58, 69, 0.7);
  }

  .light #navbar .nav-menu .nav {
    background-color: rgba(255, 255, 255, 0.7);
  }

  #navbar {
    padding: 0;
    z-index: 200;
  }

  #navbar .logo {
    margin-left: 1rem;
  }

  #navbar .nav-navbar {
    padding: 0 !important;
  }

  #navbar .nav-menu {
    transition: all 0.7s;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -800%;
    padding-top: 0.4em;
  }

  #navbar .active {
    top: 0;
  }

  #navbar .menu {
    margin-left: -1rem;
    margin-right: 1.5rem;
    display: inline-block !important;
  }

  #navbar .nav-menu .nav {
    width: 110%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15% 0 5% 10%;
  }

  .title {
    width: clamp(18rem, 25vw, 100rem);
    margin-top: 0;
  }

  #sejarah .content {
    z-index: 1;
    height: 100%;
    position: relative;
    margin: 0 5vw 0 5vw;
  }

  #sejarah ul.timeline > li {
    padding-left: 8vw;
  }

  #sejarah ul.timeline > li:before {
    transform: translateY(5dvw);
  }

  #arsitektur .sub-1 .desc p {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  #arsitektur .sub-1 .text-wrapper-inside {
    background-color: transparent !important;
    border-radius: 0;
    padding: 25px 20px;
    background-color: transparent !important;
    margin-right: 0;
  }

  #arsitektur .sub-1 .text-wrapper {
    border-radius: 10px 10px 150px 150px;
    padding: 25px 20px;
    align-items: center;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0% 15%,
      rgba(255, 255, 255, 1) 15% 100%
    );
    background-color: transparent !important;
    margin-top: 1rem;
  }

  #arsitektur .sub-1,
  .sub-2 {
    margin: 5rem 0;
  }

  #arsitektur .sub-1 .rounded-circle {
    transform: translateY(-2rem);
    position: relative;
    z-index: 600;
  }

  #arsitektur .sub-1 .rounded-circle img {
    border-radius: 100%;
    width: 40dvw;
  }

  #arsitektur .sub-2 .desc p {
    text-align: center;
    font-style: normal;
    text-align-last: center;
    font-weight: 500;
    line-height: normal;
  }
  #arsitektur .sub-2 .text-wrapper-inside {
    background-color: transparent !important;
    border-radius: 0;
    padding: 25px 20px;
    background-color: transparent !important;
    margin-left: 0;
  }
  #arsitektur .sub-2 .text-wrapper {
    border-radius: 10px 10px 150px 150px;
    padding: 25px 20px;
    align-items: center;
    background-color: transparent !important;
    margin-top: 1rem;
  }

  .light #arsitektur .sub-1 .text-wrapper,
  .light #arsitektur .sub-2 .text-wrapper {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0% 15%,
      rgba(255, 255, 255, 1) 15% 100%
    );
  }

  .dark #arsitektur .sub-1 .text-wrapper,
  .dark #arsitektur .sub-2 .text-wrapper {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0% 15%,
      var(--primary-dark) 15% 100%
    );
  }

  #arsitektur .sub-2 .rounded-circle {
    transform: translateY(-2rem);
    position: relative;
    z-index: 600;
  }

  #arsitektur .sub-2 .rounded-circle img {
    border-radius: 100%;
    width: 40dvw;
  }

  #galeri .list-galery h2 {
    color: var(--primary-dark);
    text-align: left;
    text-wrap: pretty;
    text-transform: capitalize;
    font-size: clamp(1.5rem, 1dvw, 50rem);
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
  }
  #galeri .list-galery h2 span {
    color: var(--primary-dark);
    text-align: left;
    text-wrap: pretty;
    text-transform: capitalize;
    font-size: clamp(1.5rem, 1dvw, 50rem);
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 0;
  }

  .dark #galeri .list-galery h2,
  .dark #galeri .list-galery h2 span {
    color: var(--secondary);
  }

  #galeri .list-galery .overlay,
  .dark #galeri .list-galery .overlay {
    background-color: transparent;
    padding: 20px;
    z-index: 2;
    height: 100%;
    position: relative;
    transform: translateY(0);
    justify-content: left;
  }
}
